$default: #000;
$accent: #f33632;
$bg: #F1F1F1;


%montserrat-400{
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}

%montserrat-500{
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}

%montserrat-600{
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
}